// Color
$primary: #15203d;
$red: #ec2640;
$light: #c7d9fc;
$blue: #4285f4;
$green: #2dff5b;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

// animate
